<template>
  <v-container class="banner_php_list">
    <v-row>
      <v-col cols="12">
        <div class="group_banner">
          <div class="banner_item">
            <div class="wrap_img">
              <img src="~/assets/svg/icon PHP Hosting_zendguard.svg">
            </div>
            <label>PHP Zend Guard Loader</label>
          </div>
          <div class="banner_item">
            <div class="wrap_img">
              <img src="~/assets/svg/icon PHP Hosting_composer.svg">
            </div>
            <label>PHP Composer</label>
          </div>
          <div class="banner_item">
            <div class="wrap_img">
              <img src="~/assets/svg/icon PHP Hosting_ioncube.svg">
            </div>
            <label>PHP ionCube Loader</label>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss" scoped>
  .banner_php_list {
    font-family: 'Montserrat';
    padding-top: 30px;
    padding-bottom: 20px;

    .group_banner {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .banner_item {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-end;

        .wrap_img {
          height: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
      }
    }
  }
</style>