<template>
  <v-container class="banner_php">
    <v-row>
      <v-col cols="12" sm="12" lg="6">
        <div class="text-center text-md-left banner_content_left">
          <h1>PHP Hosting</h1>
          <h2>Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h2>
          <ul>
            <li v-for="(item, index) in dataList" :key="index">
              <v-icon color="#00b348">check_circle</v-icon>
              {{ item.name }}
            </li>
          </ul>
        </div>
      </v-col>
      <v-col cols="12" sm="12" lg="6">
        <div class="banner_content_right">
          <img src="~/assets/svg/illustration banner PHP hosting-01.svg">
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dataList: [
        { name: 'Solusi PHP untuk performa query yang lebih cepat.' },
        { name: 'Konsumsi memori yang lebih rendah.' },
        { name: 'Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7.' },
        { name: 'Fitur enkripsi IonCube dan Zend Guard Loaders.' }
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
  .banner_php {
    padding-top: 30px;
    padding-bottom: 20px;

    .banner_content_right {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      
      img {
        height: 100%;
        max-height: 280px;
        width: 100%;
        object-fit: contain
      }
    }

    .banner_content_left {
      font-family: 'Montserrat';
      color: #4c4c4c;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 15px;

        li {
          font-size: 15px;
          display: flex;
          align-items: center;
          padding: 5px 0;

          i {
            margin-right: 10px;
          }
        }
      }

      h2 {
        font-size: 30px;
        font-weight: 200;
      }
    }
  }
</style>