<template>
  <v-footer class="component_footer">
    <v-container>
      <v-row>
        <v-col cols="12" sm="6" lg="3">
          <h3>HUBUNGI KAMI</h3>
          <ul class="menu_list">
            <li>0274-5305505</li>
            <li>Senin-Minggu</li>
            <li>24 Jam Nonstop</li>
          </ul>
          <p class="footer_address">
            Jl. Selokan Mataram Monjali
            <br>
            Karangjati MT I/304 
            <br>
            Sinduadi, Mlati, Sleman
            <br>
            Yogyakarta 55284
          </p>
        </v-col>
        <v-col cols="12" sm="6" lg="3" class="mt-5 mt-sm-0">
          <h3>LAYANAN</h3>
          <ul class="menu_list">
            <li>
              <nuxt-link to="">Domain</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Shared Hosting</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Cloud VPS Hosting</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Managed VPS Hosting</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Web Builder</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Keamanan SSL / HTTPS</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Jasa Pembuatan Website</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Program Affiliasi</nuxt-link>
            </li>
          </ul>
        </v-col>
        <v-col cols="12" sm="6" lg="3" class="mt-5 mt-lg-0">
          <h3>SERVICE HOSTING</h3>
          <ul class="menu_list">
            <li>
              <nuxt-link to="">Hosting Murah</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Hosting Indonesia</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Hosting Singapura SG</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Hosting PHP</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Hosting Wordpress</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Hosting Laravel</nuxt-link>
            </li>
          </ul>
        </v-col>
        <v-col cols="12" sm="6" lg="3" class="mt-5 mt-lg-0">
          <h3>TUTORIAL</h3>
          <ul class="menu_list">
            <li>
              <nuxt-link to="">Knowledgebase</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Blog</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Cara Pembayaran</nuxt-link>
            </li>
          </ul>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12" sm="6" lg="3">
          <h3>TENTANG KAMI</h3>
          <ul class="menu_list">
            <li>
              <nuxt-link to="">Tim Niagahoster</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Karir</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Events</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Penawaran & Promo Spesial</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Kontak Kami</nuxt-link>
            </li>
          </ul>
        </v-col>
        <v-col cols="12" sm="6" lg="3" class="mt-5 mt-sm-0">
          <h3>KENAPA PILIH NIAGAHOSTER?</h3>
          <ul class="menu_list">
            <li>
              <nuxt-link to="">Support Terbaik</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Garansi Harga Murah</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Domain Gratis Selamanya</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Datacenter Hosting Terbaik</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">Review Pelanggan</nuxt-link>
            </li>
          </ul>
        </v-col>
        <v-col cols="12" sm="6" lg="3" class="mt-5 mt-lg-0">
          <h3>NEWSLETTER</h3>
          <v-form>
            <v-text-field
              rounded
              placeholder="Email"
              class="input_newsletter"
              dense
              hide-details="auto"
              height="45"
            >
              <template v-slot:append>
                <v-fade-transition leave-absolute>
                  <v-btn
                    class="btn_newsletter"
                    depressed
                    color="#00a2f3"
                    rounded
                    shaped
                    dark
                    height="45"
                  >
                    Berlangganan
                  </v-btn>
                </v-fade-transition>
              </template>
            </v-text-field>
          </v-form>
          <p class="text_newsletter">
            Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.
          </p>
        </v-col>
        <v-col cols="12" sm="6" lg="3" class="mt-5 mt-lg-0">
          <ul class="group_sosmed">
            <li>
              <div class="wrap_ic">
                <v-icon color="#ffffff" size="20">fab fa-facebook-f</v-icon>
              </div>
            </li>
            <li>
              <div class="wrap_ic">
                <v-icon color="#ffffff">fab fa-twitter</v-icon>
              </div>
            </li>
            <li>
              <div class="wrap_ic">
                <v-icon color="#ffffff">fab fa-google-plus-g</v-icon>
              </div>
            </li>
          </ul>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12" sm="12" lg="6">
          <p class="text_newsletter">
            Aktivasi dengan e-Payment. Hosting dan domain langsung aktif!
          </p>
        </v-col>
      </v-row>
      <v-divider />
      <v-row class="mt-4 bottom_footer">
        <v-col cols="12" md="7">
          <p class="text-center text-md-left">
            Copyright ©2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
          </p>
        </v-col>
        <v-col cols="12" md="5" class="mt-5 mt-md-0">
          <div class="text-center text-md-right">
            <nuxt-link to="">Syarat dan Ketentuan</nuxt-link>
            <span>|</span>
            <nuxt-link to="">Kebijakan Privasi</nuxt-link>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<style lang="scss" scoped>
  .component_footer {
    background-color: #333 !important;
    color: #ffffff !important;
    font-size: 14px;
    padding: 100px 0 24px;

    a:hover {
      color: #c4c4c4;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      transition: all .6s ease;
    }

    .bottom_footer {
      font-size: 12px;
      font-weight: 300;
    }

    .group_sosmed {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li:last-child {
        margin-right: 0px;
      }

      li {
        margin-right: 26px;
      }

      .wrap_ic {
        display: flex;
        border: 2px solid;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        justify-content: center;
      }
    }

    .text_newsletter {
      color: #787878;
      padding-top: 5px;
    }

    .input_newsletter {
      background: #ffffff;
      padding: 5px 0;
      margin: 0px;
      max-width: 300px;

      .btn_newsletter {
        text-transform: capitalize;
        font-weight: normal;
        padding: 0 5px;
      }
    }

    .col-12 {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .mt-5 {
      margin-top: 3rem !important;
    }

    .footer_address {
      margin: 30px 0 0;
      line-height: 2.02em;
    }

    .menu_list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;

      a:hover {
        color: #c4c4c4;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        transition: all .6s ease;
      }

      li {
        padding-bottom: 10px;
      }
    }

    h3 {
      font-size: 20px;
      color: #c4c4c4;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 600px) {
      .mt-sm-0 {
        margin-top: 0 !important;
      }
    }

    @media screen and (min-width: 1265px) {
      .mt-lg-0 {
        margin-top: 0 !important;
      }
    }

    @media screen and (min-width: 1265px) {
      .mt-md-0 {
        margin-top: 0 !important;
      }
    }
  }
</style>

<style lang="scss">
  .component_footer {
    .input_newsletter {
      .v-input__slot {
        padding-right: 5px !important;
      }
    }
  }
</style>