<template>
  <v-container class="limit_list">
    <h2 class="text-center">Powerful dengan Limit PHP yang Lebih Besar</h2>
    <v-row justify="center" style="width: 100%; margin: 0px;">
      <v-col cols="12" sm="6" lg="5" md="6">
        <ul class="wrap_list">
          <li v-for="(item, index) in dataList.slice(0, 3)" :key="index">
            <v-icon color="#00b348">check_circle</v-icon>
            {{ item.name }}
          </li>
        </ul>
      </v-col>
      <v-col cols="12" sm="6" lg="5" md="6">
        <ul class="wrap_list">
          <li v-for="(item, index) in dataList.slice(3, 6)" :key="index">
            <v-icon color="#00b348">check_circle</v-icon>
            {{ item.name }}
          </li>
        </ul>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dataList: [
        { name: 'max execution time 300s' },
        { name: 'max execution time 300s' },
        { name: 'php memory limit 1024 MB' },
        { name: 'post max size 128 MB' },
        { name: 'upload max filesize 128 MB' },
        { name: 'max input vars 2500' }
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
  .limit_list {
    font-family: 'Montserrat';
    color: #424242;
    padding: 40px 0;

    .wrap_list {
      border: 1px solid #dddddd;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 14px;

      li:last-child {
        border-bottom: none;
      }

      li:nth-last-child(even) {
        background-color: #f7f7f7;
      }

      li {
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          position: absolute;
          left: 15px;
        }
      }
    }

    h2 {
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 10px;
    }
  }
</style>