<template>
  <v-container class="linux_hosting">
    <v-row>
      <v-col cols="12" sm="12" lg="6">
        <div class="text-md-left">
          <h2>Linux Hosting yang Stabil dengan Teknologi LVE</h2>
          <p>SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching, Apache load balancer berbasis LiteSpeed Technologies, <b>CageFS</b> security, <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.</p>
          <v-btn
            rounded
            depressed
            dark
            color="#008fee"
            class="btn_choose"
            large
          >
            Pilih Hosting Anda
          </v-btn>
        </div>
      </v-col>
      <v-col cols="12" sm="12" lg="6">
        <div class="banner_content_right">
          <img src="~/assets/images/Image support.png">
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss" scoped>
  .linux_hosting {
    padding-top: 60px;
    padding-bottom: 40px;

    .banner_content_right {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      
      img {
        height: 100%;
        width: 100%;
        max-height: 350px;
        object-fit: contain;
      }
    }

    .btn_choose {
      text-transform: capitalize;
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 18px;
      letter-spacing: normal;
    }

    p {
      padding-bottom: 20px;
    }

    h2 {
      font-family: 'Montserrat';
      color: #424242;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 20px;
    }
  }
</style>