<template>
  <v-container class="module_list">
    <h2 class="text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h2>
    <v-row justify="space-around" style="margin: 0 10%;" no-gutters>
      <v-col
        cols="6"
        sm="4"
        lg="3"
        md="3"
        v-for="(item, index) in dataList"
        :key="index"
      >
        {{ item }}
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-btn
        outlined
        large
        class="btn_more"
        rounded
        depressed
        height="50"
        min-width="200"
      >
        Selengkapnya
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dataList: [
        'IcePHP', 'http', 'nd_pdo_mysql', 'stats', 'apc', 'huffman', 'oauth', 'stem',
        'apcu', 'idn', 'oci8', 'stomp', 'apm', 'igbinary', 'odbc', 'suhosin',
        'ares', 'imagick', 'opcache', 'sybase_ct', 'bcmath', 'imap', 'pdf', 'sysvmsg',
        'bcompiler', 'inclued', 'pdo', 'sysvsem', 'big_int', 'inotify', 'pdo_dblib', 'sysvshm',
        'bitset', 'interbase', 'pdo_firebird', 'tidy', 'bloomy', 'intl', 'pdo_mysql', 'timezonedb',
        'bz2_filter', 'ioncube_loader', 'pdo_odbc', 'trader', 'clamav', 'ioncube_loader_4', 'pdo_pgsql', 'translit',
        'coin_acceptor', 'jsmin', 'pdo_sqlite', 'uploadprogress', 'crack', 'json', 'pgsql', 'uri_template',
        'dba', 'Idap', 'phalcon', 'uuid'
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
  .module_list {
    padding-top: 50px;

    .btn_more {
      font-family: 'Montserrat';
      text-transform: capitalize;
      border: 2px solid;
      font-weight: bold;
      font-size: 16px;
      margin-top: 50px;
    }

    h2 {
      font-family: 'Montserrat';
      color: #424242;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 50px;
    }
  }
</style>