<template>
  <v-container class="package_hosting_feature">
    <h2 class="text-center">Powerful dengan Limit PHP yang Lebih Besar</h2>
    <v-row>
      <v-col cols="12" sm="6" md="6" lg="4" v-for="(item, index) in dataPackage" :key="index">
        <div class="text-center item_list">
          <img :src="item.img">
          <h3>{{ item.name }}</h3>
          <p>{{ item.desc }}</p>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dataPackage: [
        { name: 'PHP Semua Versi', desc: 'Pilih mulai versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!', img: require('~/assets/svg/icon PHP Hosting_PHP Semua Versi.svg') },
        { name: 'MySQL Versi 5.6', desc: 'Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.', img: require('~/assets/svg/icon PHP Hosting_My SQL.svg') },
        { name: 'Panel Hosting cPanel', desc: 'Kelola website dengan panel canggih yang familiar di hati anda.', img: require('~/assets/svg/icon PHP Hosting_CPanel.svg') },
        { name: 'Garansi Uptime 99.9%', desc: 'Data center yang mendukung kelangsungan website Anda 24/7.', img: require('~/assets/svg/icon PHP Hosting_garansi uptime.svg') },
        { name: 'Database InnoDB Unlimited', desc: 'Jumlah dan ukuran database yang tumbuh sesuai keinginan Anda.', img: require('~/assets/svg/icon PHP Hosting_InnoDB.svg') },
        { name: 'Wildcard Remote MySQL', desc: 'Mendukung s/d 25 max_user_connections dan 100 max_connections.', img: require('~/assets/svg/icon PHP Hosting_My SQL remote.svg') }
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
  .package_hosting_feature {
    padding-top: 40px;

    .item_list {
      margin: 20px 0;
      
      img {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
      }
    }

    h2 {
      font-family: 'Montserrat';
      color: #424242;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 10px;
    }

    h3 {
      font-family: 'Montserrat';
      color: #424242;
    }
  }
</style>