<template>
  <v-container class="package_hosting">
    <div class="text-center" style="margin: 20px 0 60px;">
      <h2 class="title_header">Paket Hosting Singapura yang Tepat</h2>
      <h2 class="sub_header">Diskon 40% + Domain dan SSL Gratis untuk Anda</h2>
    </div>
    <v-row style="width: 100%; margin: 0px;">
      <v-col
        cols="12"
        sm="6"
        lg="3"
        class="text-center item_container"
        v-for="(item, index) in dataPackage"
        :key="index"
      >
        <v-row class="group_item">
          <v-col class="wrap_item">
            <div class="ribbon ribbon-top-left" v-if="item.best_seller">
              <span>BEST SELLER!</span>
            </div>
            <div class="content_type">
              <h2>{{ item.type }}</h2>
            </div>
            <div class="content_price">
              <del>{{ item.discount | currency }}</del>
              <div class="wrap_price">
                Rp &nbsp;
                <h1>{{ headerCurrency(item.price) }}</h1>
                <b>{{ subHeaderCurrency(item.price) }}</b>
                / bln
              </div>
            </div>
            <div class="content_user_count">
              <b>{{ formatPrice(item.user_count) }}</b> Pengguna Terdaftar
            </div>
            <div class="content_feature">
              <ul>
                <li v-for="(data, index) in item.feature" :key="'feature'+index">
                  <b>{{ data.value }}</b>
                  {{ data.name }}
                </li>
              </ul>

              <div class="content_rating" v-if="item.rating">
                <v-rating v-model="item.rating" />
              </div>
              <div class="content_feature" style="padding: 0px;" v-if="item.bonus_feature.value">
                <ul>
                  <li>
                    <b>{{ item.bonus_feature.value }}</b>
                    {{ item.bonus_feature.name }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="btn_package">
              <v-btn
                rounded
                depressed
                outlined
                class="btn_choose"
                height="40"
                min-width="160.77"
              >
                {{ item.discount_percentage ? `Diskon ${item.discount_percentage}%` : 'Pilih Sekarang' }}
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dataPackage: []
    }
  },
  created() {
    this.$axios.get('api/product')
    .then((res) => {
      if (res.status == 200) {
        this.dataPackage = res.data.data
      }
    })
  },
  methods: {
    headerCurrency(val) {
      let headerCurrency = this.formatPrice(val).slice(0, this.formatPrice(val).indexOf('.'))
      return headerCurrency
    },
    subHeaderCurrency(val) {
      let subHeaderCurrency = this.formatPrice(val).slice(this.formatPrice(val).indexOf('.'), this.formatPrice(val).length)
      return subHeaderCurrency
    },
    formatPrice(value) {
      let val = (value/1).toFixed(0).replace('.', '')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }
  }
}
</script>

<style lang="scss" scoped>
  .package_hosting {
    font-family: 'Montserrat';
    color: #4c4c4c;
    padding-top: 30px;
    padding-bottom: 20px;

    .item_container {
      .group_item {
        .wrap_item {
          position: relative;
          padding: 0px;
          border: 1px solid #dddddd;
          border-radius: 3px;
          position: relative;
          left: 1px;
          transition: all .3s ease;

          .ribbon {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
          }

          .ribbon::before,
          .ribbon::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid #00b359;
          }

          .ribbon {
            span {
              position: absolute;
              display: block;
              width: 200px;
              padding: 15px 0;
              background-color: #00b359;
              box-shadow: 0 5px 10px rgba(0,0,0,.1);
              color: #fff;
              font-size: 14px;
              font-weight: 500;
              text-shadow: 0 1px 1px rgba(0,0,0,.2);
              text-transform: uppercase;
              text-align: center;
            }
          }

          /* top left ribbon*/
          .ribbon-top-left {
            top: -10px;
            left: -10px;
          }
          .ribbon-top-left::before,
          .ribbon-top-left::after {
            border-top-color: transparent;
            border-left-color: transparent;
          }
          .ribbon-top-left::before {
            top: 0;
            right: 0;
          }
          .ribbon-top-left::after {
            bottom: 0;
            left: 0;
          }
          .ribbon-top-left span {
            right: 5px;
            top: 20px;
            transform: rotate(-45deg);
          }

          .btn_package {
            padding: 20px 0 30px;

            .btn_choose {
              text-transform: capitalize;
              border: 2px solid;
              font-weight: bold;
              transition: all .3s;
            }
          }

          .content_feature {
            font-size: 14px;
            padding: 20px 0;

            ul {
              list-style: none;
              margin: 0;
              padding: 0;
            }

            li {
              padding: 5px 0;
            }

            b {
              font-weight: 500;
            }
          }

          .content_user_count {
            font-size: 14px;
            padding: 10px 0;
            border-bottom: 1px solid #dddddd;
            transition: all .3s;

            b {
              font-weight: 500;
            }
          }

          .content_price {
            font-size: 16px;
            padding: 10px 0;
            border-bottom: 1px solid #dddddd;
            transition: all .3s;

            .wrap_price {
              display: flex;
              justify-content: center;
              margin-top: 5px;

              h1 {
                line-height: 0.9;
                font-size: 50px;
              }
            }
          }

          .content_type {
            border-bottom: 1px solid #dddddd;
            padding: 5px 0;
            transition: all .3s;
          }
        }

        .wrap_item:hover {
          border: 1px solid #008fee;

          .content_user_count {
            border-bottom: 1px solid #008fee;
            background: rgb(0, 127, 222);
            color: #ffffff;
          }

          .content_price {
            background: #008fee;
            border-bottom: 1px solid #008fee;
            color: #ffffff;
          }

          .content_type {
            border-bottom: 1px solid #008fee;
            background: #008fee;
            color: #ffffff;
          }

          .btn_package {
            .btn_choose {
              background: #008fee;
              color: #ffffff;
              border: none;
            }
          }
        }
      }
    }

    .title_header {
      font-size: 30px;
    }

    .sub_header {
      font-size: 25px;
      font-weight: 200;
    }
  }
</style>

<style lang="scss">
  .content_rating {
    .v-rating {
      button {
        padding: 5px 0;
      }
    }
  }
</style>