<template>
  <div class="section_help">
    <v-container>
      <v-row>
        <v-col cols="12" sm="8" lg="9" class="content_left text-center text-md-left">
          <p>Perlu <b>BANTUAN?</b> Hubungi Kami : <b>0274-5305505</b></p>
        </v-col>
        <v-col cols="12" sm="4" lg="3" class="text-center text-md-right">
          <v-btn
            x-large
            depressed
            outlined
            rounded
            class="btn_live_chat"
          >
            <v-icon color="#ffffff" size="35">question_answer</v-icon>
            Live Chat
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
  .section_help {
    background: rgb(0, 162, 243);
    color: #ffffff;
    padding: 40px 0;

    .btn_live_chat {
      width: 100%;
      max-width: 200px;
      justify-content: space-between;
      border: 2px solid #ffffff;
      text-transform: capitalize;
      color: #ffffff;
      font-weight: 500;
      font-size: 18px;
    }

    .content_left {
      font-size: 30px;
      font-family: 'Montserrat';
      border-right: 1px solid #00b3fd;
      
      p {
        margin: 0px;
      }
    }
  }
</style>