<template>
  <div class="section_share">
    <v-container>
      <v-row>
        <v-col cols="12" sm="7" lg="7" class="content_left">
          <label>Bagikan jika Anda menyukai halaman ini.</label>
        </v-col>
        <v-col cols="12" sm="5" lg="5">
          <div class="wrap_sosmed">
            <div class="wrap_icon">
              <div class="ic_facebook">
                <v-icon color="#23599b" size="40">fab fa-facebook-square</v-icon>
              </div>
              <div class="content_count">
                <label>80k</label>
              </div>
            </div>
            <div class="wrap_icon">
              <div class="ic_facebook">
                <v-icon color="#00aef1" size="40">fab fa-twitter-square</v-icon>
              </div>
              <div class="content_count">
                <label>450</label>
              </div>
            </div>
            <div class="wrap_icon">
              <div class="ic_google">
                <v-icon color="#ffffff" size="20">fab fa-google-plus-g</v-icon>
              </div>
              <div class="content_count">
                <label>1900</label>
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
  .section_share {
    background: #f7f7f7;

    .wrap_sosmed {
      display: flex;
      flex-wrap: wrap;

      .wrap_icon:last-child {
        margin-right: 0px;
      }

      .wrap_icon {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .content_count {
          margin-left: 5px;
          width: 325px;
          border-radius: 3px;
          padding: 12px 0;
          border: 1px solid #dddddd;
          height: 36px;
          background: #f7f7f7;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          font-size: 15px;
          color: #a1a1a1;
          font-weight: 300;
        }

        .content_count::before {
          content: "";
          position: absolute;
          top: 13px;
          left: -1px;
          width: 6px;
          height: 6px;
          border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          border-top-color: transparent;
          transform-origin: 0 0;
          transform: rotate(45deg);
          border-radius: 0px;
          background: #f7f7f7;
        }
      }

      .ic_google {
        background: #fc4a35;
        height: 35px;
        width: 35px;
        display: flex;
        border-radius: 3px;
        justify-content: center;
      }

      .ic_facebook {
        background: #ffffff;
        height: 35px;
        display: flex;
        border-radius: 3px;
      }
    }

    .content_left {
      align-self: center;

      label {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
</style>