<template>
  <v-container class="support_framework">
    <h2 class="text-center">Mendukung Penuh Framework Laravel</h2>
    <v-row>
      <v-col cols="12" sm="12" lg="6">
        <div class="text-md-left banner_content_left">
          <h3>Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda</h3>
          <ul>
            <li v-for="(item, index) in dataList" :key="index">
              <v-icon color="#00b348">check_circle</v-icon>
              <p v-html="item.name"></p>
            </li>
          </ul>
          <p class="text_nb">
            Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis
          </p>
          <v-btn
            rounded
            depressed
            dark
            color="#008fee"
            class="btn_choose"
            large
          >
            Pilih Hosting Anda
          </v-btn>
        </div>
      </v-col>
      <v-col cols="12" sm="12" lg="6">
        <div class="banner_content_right">
          <img src="~/assets/svg/illustration banner support laravel hosting.svg">
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dataList: [
        { name: 'Install Laravel <b>1 klik</b> dengan Softaculous Installer.' },
        { name: 'Mendukung ekstensi <b>PHP MCrypt, phar, mbstring, json,</b> dan <b>fileinfo</b>.' },
        { name: 'Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstall packages pilihan Anda.' }
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
  .support_framework {
    padding-top: 40px;
    padding-bottom: 40px;

    .banner_content_right {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      
      img {
        height: 100%;
        max-height: 350px;
        width: 100%;
        object-fit: contain;
      }
    }

    .banner_content_left {
      color: #4c4c4c;

      .btn_choose {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 18px;
      }

      .text_nb {
        font-size: 12px;
        margin: 20px 0 30px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 15px;

        li {
          display: flex;
          align-items: center;
          padding: 5px 0;

          p {
            margin: 0px;
          }

          i {
            margin-right: 10px;
          }
        }
      }

      h3 {
        font-family: 'Montserrat';
        font-weight: 200;
        line-height: 1.7;
        padding-bottom: 10px;
      }
    }

    h2 {
      font-family: 'Montserrat';
      color: #424242;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 10px;
    }
  }
</style>