<template>
  <v-layout column>
    <TopNavigation />
    <BannerPHP />
    <v-divider />
    <BannerPHPList />
    <PackageHosting />
    <LimitList />
    <div class="separator_short">
      <v-divider />
    </div>
    <PackageHostingFeature />
    <div class="separator_short">
      <v-divider />
    </div>
    <SupportFramework />
    <v-divider />
    <ModuleList />
    <LinuxHosting />
    <SectionShare />
    <SectionHelp />
  </v-layout>
</template>

<script>
import TopNavigation from '~/components/Header/TopNavigation'
import BannerPHP from '~/components/BannerPHP'
import BannerPHPList from '~/components/BannerPHPList'
import PackageHosting from '~/components/PackageHosting'
import LimitList from '~/components/LimitList'
import PackageHostingFeature from '~/components/PackageHostingFeature'
import SupportFramework from '~/components/SupportFramework'
import ModuleList from '~/components/ModuleList'
import LinuxHosting from '~/components/LinuxHosting'
import SectionShare from '~/components/SectionShare'
import SectionHelp from '~/components/SectionHelp'

export default {
  components: {
    TopNavigation,
    BannerPHP,
    BannerPHPList,
    PackageHosting,
    LimitList,
    PackageHostingFeature,
    SupportFramework,
    ModuleList,
    LinuxHosting,
    SectionShare,
    SectionHelp
  }
}
</script>

<style lang="scss" scoped>
  .separator_short {
    display: flex;
    justify-content: center;

    hr {
      max-width: 100px;
      border: 2.5px solid #f1f1f1;
    }
  }
</style>