<template>
  <div class="top_menu">
    <v-container>
      <v-row>
        <v-col cols="12" sm="6" lg="6">
          <div class="group_bookmark">
            <div class="bookmark">
              <v-icon size="15" color="#ffffff">fas fa-tag</v-icon>
            </div>
            Gratis Ebook 9 Cara Cerdas Menggunakan Domain [x]
          </div>
        </v-col>
        <v-col cols="12" sm="6" lg="6" class="item_top">
          <ul>
            <li>
              <v-icon color="#4c4c4c" class="phone_right" size="15">fas fa-phone</v-icon>
              0274-5305505
            </li>
            <li>
              <v-icon color="#4c4c4c" size="20">question_answer</v-icon>
              Live Chat
            </li>
            <li>
              <v-icon color="#4c4c4c">account_circle</v-icon>
              Member Area
            </li>
          </ul>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
  .top_menu {
    border-bottom: 1px solid #dddddd;

    .item_top {
      font-size: 14px;
      padding-top: 0px;
      padding-bottom: 0px;

      li:first-child {
        margin-left: 0px;
      }

      li {
        margin-left: 20px;
        display: flex;
        align-items: center;
      }

      i {
        margin-right: 10px;
      }
    }

    .phone_right {
      transform: rotate(90deg);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    
    .group_bookmark {
      position: absolute;
      top: 0px;
      display: flex;
      font-size: 12px;
      align-items: center;
    }

    .bookmark {
      width: 34px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      height: 0;
      border-bottom: 15px solid #0090ef;
      border-top: 15px solid #0090ef;
      border-left: 10px solid transparent;
      float: left;
      font-size: 17px;
      font-weight: 700;
      transform: rotate(-90deg);

      i {
        transform: rotate(90deg);
      }
    }
  }
</style>