<template>
  <div class="top_navigation">
    <TopMenu />
    <v-container class="nav_menu_container">
      <v-app-bar flat dense class="wrap_nav" color="white">
        <v-toolbar-title class="group_title">
          <div class="wrap_title">
            <label>
              <span>NIAGA</span>HOSTER
            </label>
            <v-icon class="ic_cloud" color="#00ace4" size="60">cloud_queue</v-icon>
            <div class="text_niaga">
              NIAGAWEB
            </div>
          </div>
        </v-toolbar-title>
        <v-spacer />
        <v-app-bar-nav-icon @click="clickBurgerMenu" class="burger_menu" />
        <div class="wrap_item_nav">
          <v-btn
            v-for="(item, index) in itemLink" :key="index"
            text
            height="auto"
          >
            {{ item.name }}
          </v-btn>
        </div>
      </v-app-bar>
      <div class="collapse_item" :class="{collapse_active: panelCollapse}">
        <v-list>
          <v-list-item-group>
            <v-list-item v-for="(item, index) in itemLink" :key="index" @click="panelCollapse = false">
              {{ item.name }}
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </div>
    </v-container>
  </div>
</template>

<script>
import TopMenu from '~/components/Header/TopMenu'
import $ from 'jquery'

export default {
  components: {
    TopMenu
  },
  data() {
    return {
      itemLink: [
        { name: 'Hosting' },
        { name: 'Domain' },
        { name: 'Server' },
        { name: 'Website' },
        { name: 'Afiliasi' },
        { name: 'Promo' },
        { name: 'Pembayaran' },
        { name: 'Review' },
        { name: 'Kontak' },
        { name: 'Blog' }
      ],
      panelCollapse: false
    }
  },
  created() {
    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.top_navigation').addClass('nav_sticky')
      } else {
        $('.top_navigation').removeClass('nav_sticky')
      }
    })
  },
  methods: {
    clickBurgerMenu() {
      this.panelCollapse = !this.panelCollapse
    }
  }
}
</script>

<style lang="scss" scoped>
  .top_navigation {
    border-bottom: 1px solid #dddddd;
    background: #ffffff;

    .nav_menu_container {
      padding-top: 20px;
    }

    .collapse_active {
      max-height: 500px !important;
    }

    .collapse_item {
      height: calc(100vh - 185px);
      margin-top: 10px;
      overflow: auto;
      max-height: 0px;
      -webkit-transition: max-height .2s ease-out;
      -moz-transition: max-height .2s ease-out;
      -o-transition: max-height .2s ease-out;
      transition: max-height .2s ease-out;
    }

    @media screen and (min-width: 1263px) {
      .collapse_item {
        max-height: 0px !important;
      }
    }

    .wrap_nav {
      .burger_menu {
        display: none;
        margin: 0px;
      }
      
      button:last-child {
        margin-right: 0px;
      }

      button:first-child {
        margin-left: 0px;
      }

      button {
        padding: 0px;
        margin: 0 15px;
        text-transform: capitalize;
        font-weight: normal;
        min-width: auto;
      }

      .group_title {
        height: 65px;
        display: flex;
        align-items: center;
        padding-right: 25px;

        .wrap_title {
          position: relative;

          .text_niaga {
            color: rgb(184, 185, 187);
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            position: absolute;
            bottom: -11px;
            right: 0px;
          }
        }

        .ic_cloud {
          position: absolute;
          right: -20px;
          bottom: 0px;
        }

        span {
          color: #00ace4;
        }

        label {
          font-weight: 900;
          color: #59595c;
          font-size: 25px;
          z-index: 1;
          position: relative;
          background: #ffffff;
        }
      }

      .v-toolbar__content {
        padding: 0px !important;
      }

      @media screen and (max-width: 1263px) {
        .burger_menu {
          display: block;
        }

        .wrap_item_nav {
          display: none;
        }
      }
    }
  }

  .nav_sticky {
    position: fixed;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    z-index: 3;
    width: 100%;
    top: 0;
    animation-name: fallIn;
    animation-duration: .8s;
  }
</style>

<style lang="scss">
  .top_navigation {
    .wrap_nav {
      .v-toolbar__content {
        padding: 0px;
      }
    }
  }
</style>